header {
	position: relative;
	left: 115px;
	margin: 10px;
	border: 1px solid black;
	width: 70%;
}

header input {   background-color: yellow; }
header input:hover {   background-color: blue; }

nav {

	border: 3px double red;
	float: left;
	width: auto;
	//max-width: 100px;
	height: auto;
	margin: 10px;
	padding: 0 5px 0 0;

                                                                                                      
}

nav ul {

	position: relative;
	left: -10px;
	list-style: none;
	
}
nav ul li a { color: #dd5555; }
nav ul li a:hover { color: blue; }


section {
	font-family: Arial;
	font-size: 5em;
	color: white;
	text-shadow: 0em 0em .15em blue;
	text-align: center;
	
	display: block;
	border: 3px solid blue;
	-webkit-border-radius: 100px;
//	-moz-border-radius: 50px;
//	-webkit-border-radius-top-right: 50px;
	
	float: left;
	margin: 10px;
	width: auto;
	padding: 10px;

	

}


article p {
	-webkit-transition: all 1s linear;
}


article p:hover {
	color: #ff0000;
        text-shadow: .2em .2em 5px orange;
        

}
footer {
	display: block;
	border: 1px solid green;
	float: left;
	margin: 10px;
	width: auto;
}